@import 'css/header.css';
@import 'css/main.css';
@import 'css/footer.css';
@import 'css/media-planhet.css';
@import 'css/media-telephone.css';


*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid black; */
    box-sizing: border-box;
}
html{
    background: #FFF;
    /* overflow: hidden; */
}

